body{
	width: 1900px;
	font-size: 12px;
	text-align: center;
}
table{
	border: 1px solid #000;
	border-collapse: collapse;
}
td{
	border: 1px solid #000;
	width: 25px;
	position: relative;
	font-weight: bold;
}
th{
	border: 1px solid #000;
	font-weight: normal;
	width: 25px;
}
.drops{
	position: absolute;
	top:20px;
	width: 60px;
	background-color: #eee;
	z-index: 10;
}
.drop{
	border: 1px solid #000;
	height: 20px;
}
tr>th:nth-child(1){
	width: 60px;
}
.ctrl{
	display: none;
}
tr:first-child{
	text-align: left;
}
.statistic{
	width: 300px;
	text-align: left;
	margin: 0 auto;
}
p{
	display: none;
}